{% if site.include_open_html %}
<meta charset="utf-8" />
{% endif %}
<meta name="google-site-verification" content="zFM_etMkM6oOvH6CNip7QxEbslAw6kJ2kiGJBYYBIcA" />
{% capture page_title %}{% if page.id != "home" %}{{ page.title }} — Web Fundamentals{%else%}Web Fundamentals — Google Developers{%endif%}{% endcapture %}
<title>{{ page_title }}</title>

{% assign author = page.authors[0] %}
{% assign main_author = site.data["contributors"][author]%}

{% if main_author.google %}
<meta name="author" content="https://plus.google.com/{{ main_author.google }}/posts" />
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="Google Web Fundamentals" />
{% endif %}

<link rel="canonical" href="https://developers.google.com/web{{page.url | canonical_url}}">
<link rel="icon" href="{{site.baseurl}}/favicon.ico" />

{% for translated_page in page.translations %}
<link rel="alternate" hreflang="{{translated_page.langcode}}" href="/web{{page.url}}?hl={{translated_page.langcode}}" />
{% endfor %}

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="zFM_etMkM6oOvH6CNip7QxEbslAw6kJ2kiGJBYYBIcA" />

{% if page.thumbnail %}<meta name="twitter:card" content="summary_large_image">{% else %}<meta name="twitter:card" content="summary">{% endif %}
<meta property="twitter:account_id" content="@chromiumdev" />
<meta property="twitter:site" content="@chromiumdev" />
<meta property="twitter:description" content="{{page.description}}" />
{% if main_author.twitter %}<meta property="twitter:creator" content="{{ main_author.twitter }}" />{% else %}<meta property="twitter:creator" content="@chromiumdev" />{% endif%}
{% if page.thumbnail %}<meta name="twitter:image:src" content="https://developers.google.com/{{site.baseurl}}{{ page.filepath }}/{{ page.thumbnail }}" />
{% else %}<meta property="twitter:image:src" content="https://developers.google.com/web/fundamentals/imgs/logo.png" />{% endif %}


{% if main_author.google %}<link rel="author" href="https://plus.google.com/{{ main_author.google }}/posts">{% endif %}
<link rel="publisher" href="https://plus.google.com/+GoogleChromeDevelopers">

<meta itemprop="name" content="{{ page_title }}">
<link itemprop="image" href="/imgs/logo.png">
<meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}Google Web Fundamentals{% endif %}">

<meta property="og:site_name" content="Web Fundamentals" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://developers.google.com/web/fundamentals/" />
{% if page.snippet_img %}<meta property="og:image" content="https://developers.google.com/{{site.fundamentals}}{{ page.filepath }}/{{ page.thumbnail }}" />
{% else %}<meta property="og:image" content="https://developers.google.com/web/fundamentals/imgs/logo.png" />{% endif %}
<meta property="og:publisher" content="https://www.facebook.com/googlechrome" />
{% if main_author.facebook %}<meta property="og:author" content="{{ main_author.facebook }}" />{% endif %}

<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/styles.min.css" />
